target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
*.eclipse

.env
application-local.properties
application-secrets.properties

hs_err_pid*
replay_pid*
